altair                    
anyio                     
attrs                     
blinker                   
cachetools              
certifi               
charset-normalizer       
click                     
colorama                  
contourpy               
cycler                    
filelock                  
fonttools                
fsspec                   
gitdb                     
GitPython                 
grad-cam               
h11                      
httptools                 
idna                     
itsdangerous             
Jinja2                   
joblib                    
jsonschema             
jsonschema-specifications 
kiwisolver             
MarkupSafe               
matplotlib                
mpmath                
narwhals                  
networkx                  
numpy                  
opencv-python         
opencv-python-headless    
packaging                
pandas                
pillow                  
pip                       
protobuf              
pyarrow                  
pydeck                  
pyparsing                 
python-dateutil          
python-multipart        
referencing               
requests                 
rpds-py                   
scikit-learn             
scipy               
setuptools              
six                       
smmap                  
starlette             
streamlit               
sympy                  
tenacity           
threadpoolctl             
toml                    
torch                     
torchvision           
tqdm                      
ttach                     
typing_extensions         
tzdata                    
urllib3                   
uvicorn                   
watchdog                  
websockets                

